<div class="flex h-screen bgColor">
  <div class="w-3/12 lg:w-4/12 xl:w-3/12 lg:flex justify-center items-center max border rounded-2xl m-6 p-4 hidden ">
    <div class="flex-col w-10/12 justify-between items-center">
      <div class="flex justify-around align-middle mb-6">
        <span class="text-5xl flex-1 ">Nil</span>
        <span class="text-base text-right w-2/4">🕸️Web developer and Gamer</span>
      </div>
      <div class="flex justify-center align-middle mb-6">
        <img class="rounded-2xl" src="../assets/FB_IMG_1691844582468.jpg" alt="" />
      </div>
      <div class="flex-col justify-center align-middle text-center mb-6">
        <a class="text-base">niladrikarmakar006@gmail.com</a>
        <p class="text-3xl">Kolkata, India</p>
      </div>
      <div class="flex justify-between align-middle mb-6">
        <a href="https://twitter.com/NiladriKarmak10" target="_blank">
          <i class="fa-brands fa-x-twitter border p-2 rounded-full icon"></i></a>
        <a href="https://www.linkedin.com/in/niladri-karmakar-41b4511b2/" target="_blank"><i
            class="fa-brands fa-linkedin border p-2 rounded-full icon"></i>
        </a>

        <a href="https://www.facebook.com/niladri.karmakar.58152/" target="_blank"><i
            class="fa-brands fa-facebook border p-2 rounded-full icon"></i>
        </a>

        <a href="https://www.instagram.com/nil__0/" target="_blank">
          <i class="fa-brands fa-instagram border p-2 rounded-full icon"></i></a>

        <a href="https://github.com/nil0006" target="_blank"><i
            class="fa-brands fa-github border p-2 rounded-full icon"></i>
        </a>
      </div>
      <div><a href="mailto:niladrikarmakar006@gmail.com"> <button
            class="w-full h-12 btn rounded-full text-lg font-semibold"> <i class="fa-regular fa-envelope"></i> Contact
            Me</button></a></div>
    </div>
  </div>
  <div class=" w-full lg:w-8/12 xl:w-9/12 overflow-y-scroll flex flex-col items-center ">
    <div class="w-3/4 h-screen mb-52" id="intro">

      <div class="text-5xl md:text-7xl mt-20 leading-tight">Hello! I am <span class="name">Nil</span>,</div>
      <div class="text-5xl md:text-7xl leading-tight">
        <ngx-typed-js [strings]="['Angular', 'Node JS', 'Mongo DB','Az Functions','Tailwind CSS','Bootstrap','']"
          [loop]="true" [typeSpeed]="90">
          I know <span class="typing"></span>
        </ngx-typed-js>
      </div>
      <div class="mt-16">
        <p class="para">I'm a full stack web developer with a passion for creating innovative solutions.</p>
        <p class="para">I'm always looking for new ways to make things work better and faster</p>
        <p class="para">specialize in Angular, Node.js, MongoDB, DevOps, Azure Functions</p>
      </div>
      <div class="flex mt-20 justify-between">
        <div class="flex">
          <div class="mr-7">
            <div class="name text-5xl md:text-7xl ">1+</div>
            <div class="para break-words">
              <p>Years of</p>
              <p>freelacing expreince</p>
            </div>
          </div>
          <div class="mr-7">
            <div class="name text-5xl md:text-7xl">1+</div>
            <div class="para">
              <p>Years of</p>
              <p>corporate expreince</p>
            </div>
          </div>
          <div class="mr-7">
            <div class="name text-5xl md:text-7xl">7+</div>
            <div class="para">
              <p> Projects</p>
              <p>Deilvered</p>
            </div>
          </div>
        </div>

        <a class="hidden md:block" href="#resume">
          <div class="scroll mt-12"></div>
        </a>
      </div>
    </div>
    <div id="resume" class="w-3/4 mb-36">
      <div class="text-5xl xl:text-7xl leading-tight">Education & <span class="name">Experiene</span></div>
      <div class="mt-14 ml-1">
        <ul>
          <li class="flex flex-col">
            <div class="name ml-2"> 2022 - Present</div>
            <div class="ml-2">
              <div class="text-4xl">Associate Software Devoloper</div>
              <div class=" mt-2 text-sm para">Blu Cocoon Digital</div>
            </div>
          </li>
          <li>
            <div class="ml-2"> 2021 - 2022</div>
            <div class="ml-2">
              <div class="text-4xl">Full Stack Devoloper</div>
              <div class=" mt-2 text-sm para">Freelance</div>
            </div>
          </li>
          <li>
            <div class="ml-2"> 2018 - 2021</div>
            <div class="ml-2">
              <div class="text-4xl">Bachelor in Computer Science (Hons.)</div>
              <div class=" mt-2 text-sm para">Triveni Devi Bhalotia College</div>
            </div>
          </li>
          <li>
            <div class="ml-2"> 2018 - 2021</div>
            <div class="ml-2">
              <div class="text-4xl">High School in Science</div>
              <div class=" mt-2 text-sm para">Kenda High School</div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div id="special" class="w-3/4 mb-36">
      <div class="text-5xl xl:text-7xl leading-tight">My <span class="name">Specializations</span></div>
      <div class=" w-full xl:w-3/4 rounded-xl border box mt-16">
        <div class="flex m-6 justify-between ">
          <div>
            <div class="text-4xl md:text-5xl flex flex-col heroText">Angular</div>
            <div class="para mt-5">Angular is my first javascript framework and I love working in this.</div>
          </div>
          <div><i class="fa-brands fa-angular text-6xl md:text-8xl ic"></i></div>
        </div>
        <div></div>
      </div>
      <div class="w-full xl:w-3/4 rounded-xl border box mt-16">
        <div class="flex m-6 justify-between">
          <div>
            <div class="text-4xl md:text-5xl flex flex-col heroText">Node JS</div>
            <div class="para mt-5">Node Js is full of power and flexible</div>
          </div>
          <div><i class="fa-brands fa-node text-6xl md:text-8xl ic"></i></div>
        </div>
        <div></div>
      </div>
      <div class="w-full xl:w-3/4 rounded-xl border box mt-16">
        <div class="flex m-6 justify-between">
          <div>
            <div class="text-4xl md:text-5xl flex flex-col heroText">Mongo DB</div>
            <div class="para mt-5">Love No SQL powerful and easy query and no tables</div>
          </div>
          <div><i class="fa-solid fa-database text-6xl md:text-8xl ic"></i></div>
        </div>
        <div></div>
      </div>
    </div>
    <div id="advantage" class="w-3/4 mb-36">
      <div class="text-5xl xl:text-7xl leading-tight">My <span class="name">Advantages</span></div>
      <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mt-12 flex-wrap">
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-brands fa-angular  text-8xl ic"></i><span class="text-xl mt-3 text-center">80%</span>
          <span class="text-sm para">Angular</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-brands fa-html5 text-8xl ic"></i><span class="text-xl mt-3 text-center ">90%</span>
          <span class="text-sm para">HTML</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-brands fa-css3 text-8xl ic"></i><span class="text-xl mt-3 text-center">90%</span>
          <span class="text-sm para">CSS</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center "><i
            class="fa-brands fa-square-js text-8xl ic"></i><span class="text-xl mt-3 text-center">90%</span>
          <span class="text-sm para">Javascript</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-brands fa-node-js text-8xl ic"></i><span class="text-xl mt-3 text-center">70%</span>
          <span class="text-sm para">Node JS</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-solid fa-server text-8xl ic"></i><span class="text-xl mt-3 text-center">50%</span>
          <span class="text-sm para">Azure Functions</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-solid fa-database text-8xl ic"></i><span class="text-xl mt-3 text-center">70%</span>
          <span class="text-sm para">Mongo DB</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-solid fa-file-code text-8xl ic"></i><span class="text-xl mt-3 text-center">80%</span>
          <span class="text-sm para">Tailwind CSS</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-brands fa-bootstrap text-8xl ic"></i><span class="text-xl mt-3 text-center">80%</span>
          <span class="text-sm para">Bootstrap</span></div>
        <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i
            class="fa-solid fa-t text-8xl ic"></i><span class="text-xl mt-3 text-center">70%</span>
          <span class="text-sm para">TypeScript</span></div>
          <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i class="fa-brands fa-react text-8xl ic"></i><span class="text-xl mt-3 text-center">30%</span>
          <span class="text-sm para">React & Ionic Etc</span>
          <span class="text-sm para">(Still learning)</span></div>
          <div class="border box rounded-full pt-9 pb-9 pl-6 pr-6 flex flex-col m-4 justify-center items-center"><i class="fa-brands fa-google text-8xl ic"></i><span class="text-xl mt-3 text-center">110%</span>
            <span class="text-sm para">Googling Stuff</span>
            <span class="text-sm para">No Pun intended</span></div>
      </div>
      <div class="para text-2xl mt-3 text-center">Learning new stuff everyday to go plus ultra</div>
    </div>
    <div id="project" class="w-3/4 mb-36">
      <div class="text-5xl xl:text-7xl leading-tight">Featured<span class="name"> Projects</span></div>
      <div class="flex flex-col items-center justify-between">
      <div class="w-full xl:w-3/4  mt-12">
        <div class="group color relative flex justify-center items-center bg-gray-300 h-80 rounded-2xl ">
          <a href="https://palette69.netlify.app/" target="_blank" class="invisible group-hover:visible 
               pr-10 pl-10 pt-2 pb-2 rounded-md
               btnimg text-white">
              Visit
        </a>
      </div>
      <div class="para text-xl mt-2"><a href="https://palette69.netlify.app/" target="_blank">Color Pallet Generator <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
      </div>
      <div class="w-full xl:w-3/4  mt-7">
        <div class="group joke relative flex justify-center items-center bg-gray-300 h-80 rounded-2xl ">
          <a href="https://joke69.netlify.app/" target="_blank" class="invisible group-hover:visible 
               pr-10 pl-10 pt-2 pb-2 rounded-md
               btnimg text-white">
              Visit
        </a>
      </div>
      <div class="para text-xl mt-2"><a href="https://joke69.netlify.app/" target="_blank">Get a joke <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
      </div>
      <div class="w-full xl:w-3/4 mt-7">
        <div class="group weather relative flex justify-center items-center bg-gray-300 h-80 rounded-2xl ">
          <a href="https://weather69.netlify.app/" target="_blank" class="invisible group-hover:visible 
               pr-10 pl-10 pt-2 pb-2 rounded-md
               btnimg text-white">
              Visit
        </a>
      </div>
      <div class="para text-xl mt-2"><a href="https://weather69.netlify.app/" target="_blank">Weather <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
      </div>
      <div class="w-full xl:w-3/4 mt-7">
        <div class="group tic relative flex justify-center items-center bg-gray-300 h-80 rounded-2xl ">
          <a href="https://tictactoereact69.netlify.app/" target="_blank" class="invisible group-hover:visible 
               pr-10 pl-10 pt-2 pb-2 rounded-md
               btnimg text-white">
              Visit
        </a>
      </div>
      <div class="para text-xl mt-2"><a href="https://tictactoereact69.netlify.app/" target="_blank">Tic Tac Toe in react <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
      </div>
      <div class="para text-2xl mt-5 ">New projects are comming soon ...</div>
    </div>
    
  </div>
  <div id="recomended" class="w-3/4 mb-36 flex flex-col justify-between">

  </div>
  </div>
</div>
